div.md-container main.md-main div.md-main__inner.md-grid div.md-content article.md-content__inner.md-typeset details.tip p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}